<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth required for testing.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth required for testing.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location required for testing.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location required for testing.</string>
	<key>NSLocationUsageDescription</key>
	<string>Location required for testing.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location required for testing.</string>
	<key>CFBundleIconFile</key>
	<string>logo.png</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2022, Sylvain Huet</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>location</string>
	</array>
</dict>
</plist>
